body,header,div,ul,li{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color:#aa9585;
}
ul{
  list-style: none;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #82796c;
  width: 100%;
  margin: 0 auto;
  color: #612f12;
  
}
table td{
  padding:5px;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear{
  height: auto;
  overflow: hidden;
}

body{
  background: #272c3a;
}
span{
  display: inline-block;
}
::-webkit-input-placeholder{/*Webkit browsers*/
  /* color:#bfad93;
   */
  color: #777777;
  font-size: 17.33px;
}
:-moz-placeholder{/*Mozilla Firefox 4 to 8*/
 /* color:#bfad93; */
  color: #777777;
  font-size: 17.33px;

}
::moz-placeholder{/*Mozilla Firefox 19+*/
 /* color:#bfad93; */
  color: #777777;
  font-size: 17.33px;


}
:-ms-input-placeholder{/*Internet Explorer 10+*/
  /* color:#bfad93; */
  color: #777777;
  font-size: 17.33px;
}

.mgt20{
  margin-top: 20px;
}




.msgCon {
  position: fixed;
  top: 40%;
  z-index: 9999;
  width: 100%;
  font-size: 20px;
}
.msgCon .msg {
  border-radius: 30px;
  color: #fff;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  background: none repeat scroll 0 0 #000;
  width: 50%;
  max-width: 520px;
  opacity: 0.9;
}
.msgCon2 {
  position: fixed;
  top: 30%;
  z-index: 998;
  width: 300px;
  font-size: 20px;
  left: 50%;
  margin-left:-150px;
}
.msgCon2 .msg{
  border-radius: 30px;
  color: #fff;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  background: none repeat scroll 0 0 #000;
  width: 100%;
  max-width: 520px;
  box-sizing: border-box;
  opacity: 0.9;

}

.alert{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 999;
}
.alert .content{
  width:480px;
  height: 678px;
  border-radius: 10px;
  background: url(../image/alertBG.png) no-repeat;
  background-size: 100% 100%;
}
.alert .content .header{
  padding:26px 26px 0 26px;
  margin-bottom: 18px;
  font-size: 18.77px;
  color: #663300;
}
.alert .content .header img{
  width: 25px;
  cursor: pointer;
}
.alert .content .scroll{
  overflow: auto;
  height: 470px;
  margin-top: 6px;
  padding:0 26px;
}
.alert .content .scroll .item {
  color: #000;
  height: 78px;
  border-bottom: 1px solid #f3f3f3;
  cursor: pointer;
}
.alert .content .scroll .item .coinImg{
  width: 41px;
  margin-right:15px;
}
.alert .content .scroll .item .coin{
  font-size: 20px;
}
.alert .content .scroll .item .contractTip{
  font-size: 16px;
  color: #a6a6a6;
  font-weight: 300;
}

#menuBox .rightBox{
  margin:90px auto 0;width: 720px;background: #fff;position: relative;
}
#menuBox .rightBox .navList{
  position: absolute;
  top:-23px;
  left: 100px;
  background: #202431;
  padding:10px;
  border-radius: 10px;
  border: 1px solid #c6a97f;
}

#menuBox .rightBox .navList .item{
  min-width: 100px;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  color: #ecd9bb;
  border-bottom: 1px solid #ecd9bb;
  display: block;
  cursor: pointer;
}
#menuBox .rightBox .navList .item:last-child{
  border-bottom:none;
}
/* 节点设置 */
.nodeSet{
  padding:0 20px;
  font-size: 17.33px;
  color: #612f12;
  width: 440px;
  height: 525px;
  background: url(../image/bglist.png) no-repeat;
  margin-left: 18px;
  padding-top: 15px;
}
.nodeSet .nodeList {
    text-align: left;
    margin-top: 15px;
    cursor: pointer;
}


.nodeSet .nodeList .icon {
    position: relative;
    padding-left: 28px;
}
.nodeSet .nodeList .icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #ecd9bb;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
    border-radius: 50%;
}
.nodeSet .nodeList .icon.act:before {
    background: #663300;
    border: 1px solid transparent;
}
.nodeSet .nodeList .icon.act:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    width: 10px;
    height: 10px;
    background: #c1af96;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 50%;
}
.nodeSet .btn {
    margin-top: 20px;
    background: #d55951;
    border-radius: 8px;
    color: #fff;
    height: 45px;
    min-width: 288px;
    padding: 0 20px;
    text-align: center;
    line-height: 45px;
}


.KittiesGalleryPagination {
    /*padding: 18px;*/
    margin: 0 auto;
    position: relative;
}
.KittiesGalleryPagination .all{
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  padding-left:35px;
  color:#e9d9b2;
  margin-top: -12px;
  font-size: 16px;
  background: url(../image/nftQualityCheck.png) no-repeat;
  cursor: pointer;
}
.KittiesGalleryPagination .all.active{
  background: url(../image/nftQualityCheckOn.png) no-repeat;
}
.Pagination {
  width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Pagination-page {
    padding: 10px 15px;
    font-size: 15px;
    transition: background-color .25s;
    margin-right: 5px;
    margin-bottom: 5px;
}
.Pagination-page.active, .Pagination-page:hover {
    background-color: #d55951;
    color: #fff;
}
.Pagination-button, .Pagination-page,.Pagination-pages {
  display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
  color:#e9d9b2
}
.Pagination-button{
  padding:18px;
}

.Pagination-button.disabled {
    color: #666;
    pointer-events: none;
}
.ver{
  position: absolute;
  bottom: 8px;
  right: 15px;
  font-size: 13px;
  color: #ecd9bb;
}

.alert-publicly{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0,0,0,.5); */
    z-index: 999;

}


.alert-publicly .alert-box{
  margin: 90px auto 0;
  width: 720px;
  background:#fff;
  position: relative;
  
}
.alert-publicly .alert-box .content{
  position: absolute;
  top: 215px;
  left: 110px;
  width: 485px;
  height: 212px;
  background: url(../image/alert-pubilcly-bottom.png) no-repeat;
  padding-left: 35px;
  padding-top: 20px;
}
.alert-publicly .alert-box .content p{
  font-size: 17.33px;
  color: #602d10;
}

.alert-publicly .alert-box .content span{
  font-size: 17.33px;
  color: #a73a37
}
.alert-publicly .alert-box .content input{
  width: 420px;
  height: 36px;
  border-radius: 16px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #666 inset;
  outline: none;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 17.33px;
}
.alert-publicly .alert-box .alert-box-button{
  margin-top:0px ;
  padding-left: 63px;
}
.alert-publicly .alert-box .alert-box-button img:first-of-type{
  margin-right: 105px;
}
.alert-publicly .alert-box .alert-box-button img{
  cursor: pointer;
}

.alert-publicly .alert-box .action-content{
  position: absolute;
  top: 90px;
  left: 15px;
  width: 100%;
  height: 125px;
  text-align: center;
  background: url(../image/action-point--bottom.png) no-repeat;
}
.alert-publicly .alert-box .action-content p{
  font-size: 24px;
  color: #663300;
  margin-right: 10px;
  margin-left: -50px;
}
.alert-publicly .alert-box .action-content span{
  color: #a73a37;
}
.alert-publicly .alert-box .action-content .close{
  position: absolute;
  top: 25px;
  right: 70px;
  cursor: pointer;
}

.alert-publicly .alert-box .war-report-content{
  position: absolute;
  top: 55px;
  left: 15px;
  width: 100%;
  text-align: center;
  background: url(../image/war-report-bottom.png) no-repeat;
}

.alert-publicly .alert-box .war-report-content .close{
  position: absolute;
  top: 32px;
  right: 60px;
  cursor: pointer;
}
.alert-publicly .alert-box .war-report-content .top{
  width: 600px;
  height: 133px;

  background: url(../image/war-report-gonggao-bottom.png) no-repeat;
  text-align: left;
  overflow: hidden;
  font-size: 24px;
  color: #663300;
  font-family: "微软雅黑";
  margin-top: 91px;
  margin-left: 35px;
  line-height: 40px;
  padding-left: 20px;
  padding-top: 20px;
}
.alert-publicly .alert-box .war-report-content .top p{
  margin: 0;
  margin-right: 40px;

}
.alert-publicly .alert-box .war-report-content .middle{
  width: 600px;
  height: 552px;
  background: url(../image/war-report-liebiao-bottom.png) no-repeat;
  padding-left: 20px;
  text-align: left;
  overflow: hidden;
  margin-top: 33px;
  margin-left: 35px;

}
.alert-publicly .alert-box .war-report-content .middle li{
  font-size: 24px;
  color: #805b39;
  font-family: "微软雅黑";
  margin-top: 20px;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #523929;
}
.alert-publicly .alert-box .war-report-content .middle li:last-of-type{
  border-bottom: none;
}
.alert-publicly .alert-box .war-report-content .middle li span{
  font-size: 24px;
  color: #993333;
  font-family:"Helvetica";
}
.alert-publicly .alert-box .war-report-content .btn-group{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

}
.alert-publicly .alert-box .war-report-content .btn-group img:first-of-type{
  margin-right: 40px;
}

.alert-publicly .alert-box .action-message-content{
  position: absolute;
  top: 175px;
  left: 15px;
  width: 100%;

  text-align: center;
  background: url(../image/action-message-bottom.png) no-repeat;
}
.action-message-box1{
  width: 615px;
  text-align: left;
  margin-left: 33px;
  margin-top: 66px;
}
.action-message-box1 p{
  font-size: 28px;
  color: #602d10;
  margin: 0;
}

.action-message-icon-box{
  height: 100%;
  margin-top: 5px;
  background: url(../image/action-message-icon-box-bottom.png) no-repeat;
  padding: 20px;
}
.action-message-icon-box img{
  margin-right: 25px;
}
.action-message-box2{
  width: 615px;
  text-align: left;
  margin-left: 33px;
  margin-top: 15px;
}
.action-message-box2 p{
  font-size: 28px;
  color: #602d10;
  margin: 0;
}
.action-message-box3{
  text-align: left;
  margin-left: 33px;
  margin-top: 15px;
}
.action-message-box3 p{
  font-size: 22px;
  color: #602d10;
  margin: 0;
}
.action-message-box3 input {
  width: 600px;
  height: 45px;
  border-radius: 16px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #666 inset;
  outline: none;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 24px;
  background-color: #e9e2d7;
  margin: 15px 0;
}
.action-message-box3 span{
  color: #993333;
}
.sure-btn{
  margin: 40px 0;
}
.action-message-content .close{
  position: absolute;
  top: 32px;
  right: 60px;
  cursor: pointer;
}