body,header,div,ul,li{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color:#aa9585;
}
ul{
  list-style: none;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #82796c;
  width: 100%;
  margin: 0 auto;
  color: #ecd9bb;
  
}
table td{
  padding:5px;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear{
  height: auto;
  overflow: hidden;
}

body{
  background: #272c3a;
}
span{
  display: inline-block;
}
