.app{
  margin:0 auto;
  width: 520px;
  height:100%;
  position: relative;
  box-sizing: border-box;
  background: #272c3a;
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  /*background: url(../imgs/appBG.png) no-repeat;*/
  background-position: bottom;
  /*background:linear-gradient(#272c3a, #252a38, #202534,#1c222f)*/
  /*overflow-y: scroll;*/
  overflow: hidden;
}

.stackCountryBox{
  position: relative;
  padding:0 10px 26px 17px;
  color: #612f12;
  font-size: 17.33px;
}

header{
  width:100%;
  height:168px;
  /*padding-top: 65px;*/
  margin-bottom: 10px;
  /* background: url(../ima/headerBG.jpg) no-repeat; */
  border-bottom: 2px solid #5d5243;
  box-sizing: border-box;
  position: relative;
}
.head-top{
  height: 46px;
  line-height: 46px;
  font-size: 12px;
  padding-top: 14px;
  box-sizing: border-box;
  color: #e9d9b2;
  text-align: right;
  background: url(../image/bottom.png) no-repeat;
  background-color: #000;
}
.header-top-left{
  width: 65px;
  height: 65px;
  background: url(../image/user-small.png) no-repeat;
  position: absolute;
  top: 0px;
  cursor: pointer;
  z-index: 999;
}
.header-top-right{
  float: left;
  height: 16px;
  line-height: 16px;  
  margin-left: 85px;
  position: relative;
}
.box1{
  width:165px ;
  float: left;
}
.box1-left{
  float: left;
}
.box1-right{
  float: left;
  position: absolute;
  top: 0px;
  left: 50px;
  font-size: 32px;
}

.box2{
  float: left;
  width:190px ;
  margin-left:30px ;
}
.box2-left{
  float: left;
  position: absolute;
  top: -7px;
  left: 170px;
  z-index: 15;
}
.box2-midd{
  float: left;
  position: absolute;
  top: 0px;
  left: 190px;
  font-size: 14.44px;
  color: #fff;
  background: url(../image/put.png) no-repeat;
  /* width: 135px; */
  padding:0  15px;
}
.box2-right{
  float: left;
  position: absolute;
  left: 330px;
  top: 0%;
}
.box2-crcle{
  position: absolute;
  top: 0px;
  left: 0px;
}
.box3{
  float: left;
  width:184px ;
  margin-left:20px;
}
.box3-left{
  float: left;
  position: absolute;
  top: -7px;
  left: 310px;
  z-index: 15;
}
.box3-midd{
  float: left;
  position: absolute;
  top: 0px;
  left: 326px;
  font-size: 14.44px;
  color: #fff;
  background: url(../image/put.png) no-repeat;
  padding:0 15px;
}
.box3-right{
  float: left;
  position: absolute;
  left: 530px;
  top: 0%;
}
.box3-crcle{
  position: absolute;
  top: 0px;
  left: 0px;
}
.progress_bar{
  height: 5px;
  width: 100%;
  background: url(../image/progress_bar.png) no-repeat;
  position: absolute;
  left: 0px;
  top: 40px;
}
.top-bar{
  background: url(../image/top-bar.png) no-repeat;
  height: 110px;
  text-align: center;
  padding-top: 25px;
  color: #e9d9b2;
  font-size: 17.33px;
  position: relative;
  margin-left: 20px;
  margin-top: -13px;
  /* z-index: 66; */
  font-family: "黑体";
}

.top-bar p:last-of-type{
  margin-top: 15px;
}

.top-bar span{
  color: #4ff2c5;
}
.top-bar-edit{
  position: absolute;
  top: 35px;
  left:440px;
  cursor: pointer;
}
.main{
  /* margin-top:29px; */
}
.main-first{
  /* width: 680px;
  height: 300px; */
  background: url(../image/label1.png) no-repeat;
  position: relative;
  margin-bottom: 15px;
  padding-top: 10px;
}
.main-first:last-of-type{
  margin-bottom: 0px;
}
.huihe{
  width:223px ;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding-left:25px ;
  color: #e7d282;
  background: url(../image/huihe.png) no-repeat;
}
.country{
  width:80px ;
  height: 90px;
  position: absolute;
  right: 20px;
}
.jianli{
  width: 260px;
  height: 60px;
  background: url(../image/jianli-bottom.png) no-repeat;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}
.jianli-eos{
  margin: 5px 40px  0 10px ;
  
}
.jianli-time{
  margin: 10px 20px  0 10px ;

}
.eos-text{
  font-size: 17.33px;
  color: #e5cfa6;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.time-text{
  font-size: 17.33px;
  color: #e5cfa6;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.status{
  position: absolute;
  top: 115px;
  left: 284px;
}
.time{
  /* width: 630px; */
  width: 464px;
  height: 25px;
  line-height: 25px;
  color: #e5cfa6;
  font-size: 14px;
  padding-left: 20px;
  margin-left: 5px;
  margin-top: 5px;
  /* background: url(../image/time-bottom.png) no-repeat; */
  background-color: rgba(0,0,0,0.5);
}
.time p{
  margin: 0;
}
.main-second{
  width: 680px;
  height: 300px;
  background: url(../image/label2.png) no-repeat;
  position: relative;
  margin-bottom: 30px;

}
.guaji{
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #e5cfa6;
  margin-top: 10px;
}
.shouyi{
  float: left;
  margin-right: 40px;
  margin-left: 40px;
}
.guaji ul li{
  float: left;
  margin-right:35px ;
  height: 35px;
  line-height: 35px;
}
.guaji ul li img{
  width: 35px;
  height: 35px;
}
.guaji ul li span{
  color: #77f728;
}
.guaji ul li:last-of-type{
  margin-right: 0;
}
.main-third{
  width: 680px;
  height: 300px;
  background: url(../image/label3.png) no-repeat;
  position: relative;
  margin-bottom: 30px;

}

.bottom{
  width: 100%;
  height:84px;
  background: url(../image//bottom-bottom.png) no-repeat;
  position: relative;
  margin-top: -2px;
}
.bottom ul li {
  float: left;
  margin-right: 12px;
  cursor: pointer;
}
.bottom ul li:first-of-type{
  margin-left: 15px;
}




.actionBtn{
  min-width: 155px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  color: #fff;
  -webkit-text-stroke: 1px #ad7d3f;
  background: url(../image/actionBG.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.actionBtnn{
  width: 155px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  /* color: #f2be27; */
  /* -webkit-text-stroke: 1px #ad7d3f; */
  background: url(../image/tixianBG.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 545px;
  left: 175px;
}

.actionBtnn span{
  background-image:-webkit-linear-gradient(top,#fff,#ffd84b,#f2be27);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent; 
}