.app1{
  margin:0 auto;
  width: 520px;
  height:100%;
  padding-bottom: 176px;
  position: relative;
  box-sizing: border-box;
  background: #272c3a;
  background-image: url(../image/zhanchan-background.png);
  background-repeat: no-repeat;
  /*background: url(../imgs/appBG.png) no-repeat;*/
  background-position: bottom;
  /*background:linear-gradient(#272c3a, #252a38, #202534,#1c222f)*/
  /*overflow-y: scroll;*/
  overflow: hidden;
}
p{
  margin: 0;
}
header{
  width:100%;
  height:63px;
  /*padding-top: 65px;*/
  margin-bottom: 10px;
  
  box-sizing: border-box;
  position: relative;
}
.head-top{
  height: 46px;
  line-height: 46px;
  font-size: 12px;
  padding-top: 14px;
  box-sizing: border-box;
  color: #e9d9b2;
  text-align: right;
  background: url(../image/bottom.png) no-repeat;
  background-color: #000;
}
.header-top-left{
  width: 65px;
  height: 65px;
  background: url(../image/user-small.png) no-repeat;
  position: absolute;
  top: 0px;
  cursor: pointer;
  z-index: 999;
}
.header-top-right{
  float: left;
  height: 16px;
  line-height: 16px;  
  margin-left: 85px;
  position: relative;
}
.box1{
  width:165px ;
  float: left;
}
.box1-left{
  float: left;
}
.box1-right{
  float: left;
  position: absolute;
  top: 0px;
  left: 50px;
  font-size: 32px;
}

.box2{
  float: left;
  width:190px ;
  margin-left:30px ;
}
.box2-left{
  float: left;
  position: absolute;
  top: -7px;
  left: 170px;
  z-index: 15;
}
.box2-midd{
  float: left;
  position: absolute;
  top: 0px;
  left: 190px;
  font-size: 14.44px;
  color: #fff;
  background: url(../image/put.png) no-repeat;
  padding:0 15px;
}
.box2-right{
  float: left;
  position: absolute;
  left: 330px;
  top: 0%;
}
.box2-crcle{
  position: absolute;
  top: 0px;
  left: 0px;
}
.box3{
  float: left;
  width:184px ;
  margin-left:20px;
}
.box3-left{
  float: left;
  position: absolute;
  top: -7px;
  left: 310px;
  z-index: 15;
}
.box3-midd{
  float: left;
  position: absolute;
  top: 0px;
  left: 326px;
  font-size: 14.44px;
  color: #fff;
  background: url(../image/put.png) no-repeat;
  padding:0 15px;
}
.box3-right{
  float: left;
  position: absolute;
  left: 530px;
  top: 0%;
}
.box3-crcle{
  position: absolute;
  top: 0px;
  left: 0px;
}
.progress_bar{
  height: 5px;
  width: 100%;
  background: url(../image/progress_bar.png) no-repeat;
  position: absolute;
  left: 0px;
  top: 40px;
}
.main{
  position: relative;
}
.main-box1{
  width: 183px;
  margin-top: 15px;
  margin-left:68px;
  cursor: pointer;
  position: relative;
}

.box1-p1{
    width: 150px;
    font-size:17.33px ;
    color:#ffcd28 ;
    background: url(../image/zhanchan-box1-bottom.png) no-repeat;
    margin-left: 26px;
    text-align: center;
}
.box1-p2{
  width: 138px;
  background: url(../image/zhanchan-box1-bottom2.png) no-repeat;
  font-size: 17.33px;
  color: #fff;
  text-align: center;
  margin-left: 30px;  
  margin-top: 10px;
}
.box1-p2 span{
  color:#ffcd28 ;
}

.box1-img{
  width: 100%;
  height: 95px;
  background: url(../image/zhanchan-box1.png) no-repeat;
}
.box1-flag{
  position: absolute;
  top: 90px;
  left: 4px;
}
.main-box2{
  width: 183px;
  margin-top: -25px;
  margin-left:323px;
  position: relative;
}

.box2-p1{
    width: 138px;
    font-size:17.33px;
    color:#ffcd28 ;
    background: url(../image/zhanchan-box2-bottom1.png) no-repeat;
    margin-left: 26px;
    text-align: center;
}
.box2-p2{
  width: 138px;
  background: url(../image/zhanchan-box1-bottom2.png) no-repeat;
  font-size: 17.33px;
  color: #fff;
  text-align: center;
  margin-left: 30px;  
  margin-top: 10px;

}
.box2-p2 span{
  color:#ffcd28 ;
}

.box2-img{
  width: 100%;
  height: 101px;
  
  background: url(../image/zhanchan-box2.png) no-repeat;
}
.box2-flag{
  position: absolute;
  top: 90px;
  left: 4px;
}
.main-box3{
  width: 469px;
  height: 153px;
  
  background: url(../image/zhanchan-box3.png) no-repeat;
  padding-top:110px;
}
.box3-p{
  width: 131px;
  background: url(../image/zhanchan-box3-bottom.png) no-repeat;
  font-size: 17.33px;
  color:#ffcd28 ;
  text-align: center;
  margin-left: 190px;
  margin-top: -10px;
}

.main-box4{
  width: 372px;
  position: relative;
  margin-left: 72px;
}

.main-box4-1{
  width:186px;
  float: left;
  
}
.box4-1-p1{
  width: 135px;
  font-size: 17.33px;
  color:#ffcd28 ;
  text-align: center;
  background: url(../image/zhanchan-box4-1-bottom1.png) no-repeat;
  margin-left: 35px;
}
.box4-1-p2{
  width: 85px;
  font-size: 17.33px;
  color: #fff;
  position: relative;
}
.box4-1-p2 img{
  position: absolute;
  top: 10px;
  left: 72px;
  z-index: 66;
}
.box4-1-p2 p{
  width: 52px;
  height: 17px;
  line-height: 17px;
  background: url(../image/zhanchan-box4-1-bottom2.png) no-repeat;
  text-align: center;
    position: absolute;
    top: 15px;
    left: 86px;
}
.box4-img-1{
  width: 190px;
  height: 100px;
  background: url(../image/zhanchan-box4-1.png) no-repeat;
}
.main-box4-2{
  width:186px;
  float: left;
}
.box4-2-p1{
  width: 135px;
  font-size: 17.33px;
  color:#ffcd28 ;
  text-align: center;
  background: url(../image/zhanchan-box4-1-bottom1.png) no-repeat;
  margin-left: 35px;
}
.box4-2-p2{
  width: 85px;
  font-size: 17.33px;
  color: #fff;
  position: relative;
}
.box4-2-p2 img{
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 66;
}
.box4-2-p2 p{
  width: 52px;
  height: 17px;
  line-height: 17px;
  background: url(../image/zhanchan-box4-1-bottom2.png) no-repeat;
  text-align: center;
    position: absolute;
    top: 15px;
    left: 86px;
}
.box4-img-2{
  width: 190px;
  height: 100px;
  background: url(../image/zhanchan-box4-1.png) no-repeat;
}

.box4-flag{
  position: absolute;
    top: 60px;
    left: 166px;
}
.blod-box{
  position: absolute;
  top: 0;
  left: 255px;
}
.blod-box p{
  font-size: 11.55px;
  color: #ffcc66;
  margin: 0;
}




.jianli{
  position: absolute;
  top: 200px;
  left: 280px;
  
}
.jianli-baoxiang{
  margin-right: 20px;
  float: left;
}
.box1-jianli-che{
  position:absolute;
  top: 130px;
  left: 116px;
  cursor: pointer;
}
.box1-jianli-che img{
  margin-top: -15px;
}
.box1-jianli-che p{
  width: 75px;
  height: 26px;
  line-height: 26px;  
  background: url(../image/che-bottom.png) no-repeat;
  font-size: 11.55px;
  color: #fff;
  text-align: center;
  margin-top: 0;
}
.all-icon{
  z-index: 999;
  float: left;
}
.all-icon li{
 cursor: pointer;
}
.all-icon-left{
  float: left;
  position: absolute;
  top: 110px;
  left: 15px;
}


.all-icon-right-top{
  position: absolute;
  top: 70px;
  right: 15px;
}

.all-icon-right-bottom{
  position: absolute;
  bottom: 95px;
  right: 15px;
}

.all-icon-bottom{
  position: absolute;
  right: 5px;
  bottom:20px;
}
.all-icon-bottom li{
  float: left;
  margin-right: 10px;
}
.goback{
  position: absolute;
  top: 69px;
  left: 18px;
  z-index: 999;
  cursor: pointer;
}